<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.nethar.owncloudbookmarks"
    android:versionCode="8"
    android:versionName="1.8" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cz.nethar.owncloudbookmarks.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cz.nethar.owncloudbookmarks.TagList"
            android:label="@string/title_activity_tag_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.nethar.owncloudbookmarks.BookmarkList"
            android:label="@string/title_activity_bookmark_list" >
        </activity>
        <activity
            android:name="cz.nethar.owncloudbookmarks.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="cz.nethar.owncloudbookmarks.CreateBookmark"
            android:label="@string/title_activity_create_bookmark" >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
    </application>

</manifest>